# Environment Variables Template
# Copy this file to .env.dev, .env.staging, .env.prod and update values accordingly

APP_ENV=dev
APP_PORT=8080

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_NAME=flight_finder_db
DB_USERNAME=postgres
DB_PASSWORD=admin

# PostgreSQL Configuration
POSTGRES_DB=flight_finder_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin

